.footer-container{
	width: 100%;
	color: white;
	font-family: monospace;
	display: flex;
	flex-direction: column;
}

.footer a{
	color: white;
}

.footer-arriba{
	padding: 30px 40px;
	width: 100%;
	background: var(--red);
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.image-and-direction,
.contacto-basico,
.contacto-redes{
	width: 100%;
}

.image-and-direction img{
	width: 200px;
}

.footer-abajo{
	background: var(--terracote);
	text-align: center;
	font-size: 18px;
	padding: 10px;
}

.imagen-contacto{
	width: 40px;
	height: 40px;
}

.contacto{
	display: flex;
	align-items: center;
}

.contacto p{
	margin-left: 10px;
}

.footer-link{
	color: var(--yellow);
}

.footer-link:hover{
	color: #5ce8eb;
}