.logoImg{
	width: 110px;
}

.logoImg img{
	width: 100%;
}

.nav-menu{
	display: flex;
	background: var(--red);
}

.nav-menu:last-child{
	justify-content: flex-end;
}

.nav-menu-flex{
	display: flex;
	align-items: center;
	margin-left: 20px;
	justify-content: space-between;
	width: 100%;
}

.nav-items{
	display: flex;
	height: 100%;
}

.nav-item{
	display: flex;
	height: 100%;
	align-items: center;
	padding: 0 20px;
	transition: .4s;
	color: white;
    font-family: monospace;
    font-size: 20px;
}

.nav-item:hover{
	background: var(--yellow);
}

.precio-nav{
	padding-right: 12px;
	margin-bottom: 5px;
	color: white;
	font-family: helvetica; 
}