.profile-container{
	width: 100%;
	height: 100%;
	padding: 35px 40px;
	display: flex;
	flex: 1;
	/*flex-direction: column;*/
	/*align-items: center;*/
	/*align-items: space-around;*/
}


.profile-izquierda{
	width: 100%;
	padding: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/*justify-content: center;*/
	justify-content: space-around;
}


.profile-derecha{
	width: 100%;
	padding: 25px 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	justify-content: center;
}



.user-descripcion-profile{
	display: flex;
	width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.imagen-profile{
	width: 160px;
    height: 160px;
    border-radius: 15px;
    overflow: hidden;
    border: 5px solid var(--terracote);
}

.imagen-profile img{
	width: 100%;
	height: 100%;
}

.datos-profile{
	padding: 30px;
	/*margin-left: 30px;*/
	/*margin-right: 30px;*/

}

	.title-user{
		font-size: 42px;
		font-family: fantasy;
	}

	.username{
		font-size: 32px;
	}


.botones-profile-codes{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 200px;
    width: 100%;
    transition: .3s;
}

.botones-profile-codes button{
	transition: .3s;
}

	.botones-profile-codes button:hover{
		transform: scaleX(1.05);
    	box-shadow:  3px 4px black;
    	border: 1px solid black;

	}


.button.ingresar-hora{
	background: var(--yellow);
	border: 1px solid black;
}

.button.canjear-horas{
	background: #4fd5de;
	border: 1px solid black;
}

.puntaje-flex{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 100%;
    height: 100%;
}

.premios-ganados-container{
	margin-top: 10px;
	padding: 10px;
	border: 4px solid var(--red);
	box-shadow: -1px -1px 7px 0px;
	border-radius: 12px;
}

.premios-ganados-container thead tr{
	background: var(--red);
}

.premios-ganados-container thead tr td{
	color: white;
}


.cajita-info{
	padding: 25px;
    width: 180px;
    height: 150px;
    background: #ebba6a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 4px solid var(--red);
    border-radius: 12px;
    font-family: cursive;
    box-shadow: -1px -1px 7px 0px;
}

.cajita-info p{
	font-size: 22px;
}

.puntos-title{
	font-size: 25px;
    font-weight: bold;
}