.news-visible-flex{
    display: flex;
    justify-content: space-around;
    /*align-items: center;*/
}

    .news-visible-flex .image{
        width: 35%;
    }

.title-event{
    font-family: fantasy;
}

.text-event-visible{
    width: 55%;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

.fecha-news{
    margin-top: 20px;
}

.oculto{
    overflow: hidden;
    transition: .5s;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.oculto p{
    padding: 20px 10px;
}

/* descripcion y datos adicionales */
.box-descripcion{
    padding: 15px;
    border-radius: 10px;
    background: #fff;
}

.precios{
    border: 3px dashed skyblue;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    background: #fff;
    margin: 12px 0;
}

.box-fechas-limites{
    padding: 15px;
    background: #fff;
    margin: 12px 0;
    border-radius: 10px;
}

/* .btn-event{
    margin-top: 7px;
} */

.container-flex-style-event{
    background: #f2f2f2;
    box-shadow: 2px 2px 5px 0px;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
}