.help-container{
	border: 3px solid var(--red);
    position: absolute;
    border-radius: 10px;
    left: 30px;
    top: 5%;
    right: 30px;
    padding: 40px 50px;
    font-size: 22px;
    background: white;
    height: 500px;
    overflow: auto;
    transition: .4s;
}

.help-container.dontShow{
	top: -150%;
}

.boton-ayuda{
	padding: 5px 6px;
	border: 1px solid #000;
	text-align: center;
	border-radius: 7px;
	color: #000;
	font-size: 20px;
}

.hora-ayuda{
	background: var(--yellow);
}

.premio-ayuda{
	background: #4fd5de;
}

.titulo-ayuda{
	font-size: 30px;
	margin-top: 12px;
	margin-bottom: 15px;
	font-weight: bold;
	font-family: helvetica;
}
/*
.closeModal-ayuda-container{
	border: 1px solid black;
	position: relative;
}*/

.closeModal-ayuda{
	border: 1px solid black;
    width: 130px;
    /*width: 100%;*/
    border-radius: 5px;
    padding: 2px;
    text-align: center;
    background: #ff2222;
    font-size: 27px;
    margin-top: -30px;
    cursor: pointer;
    /*margin-left: -46px;*/
    margin-bottom: 15px;
    /*position: fixed;*/
}