.about-wrapper{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-container{
	width: 60%;
	padding: 40px 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-contenido{
	font-size: 20px;
}