.logoImg{
	width: 110px;
}

.logoImg img{
	width: 100%;
}

.nav-menu{
	display: flex;
	/*background: var(--red);*/
	background: white;
	border-bottom: 1px solid black;
	padding-bottom: 1px;
}

.nav-menu:last-child{
	justify-content: flex-end;
}

.nav-menu-flex{
	display: flex;
	align-items: center;
	margin-left: 20px;
	justify-content: space-between;
	width: 100%;
}

.nav-items{
	display: flex;
	height: 100%;
}

.nav-is-active{
	background: var(--yellow);
}

.nav-item{
	display: flex;
	height: 100%;
	align-items: center;
	padding: 0 13px;
	transition: .4s;
	/*color: white;*/
	color: black;
    font-family: monospace;
    font-size: 20px;
}

.nav-item:hover{
	background: var(--yellow);
}

.precio-nav{
	padding-right: 0px;
	font-size: 18px;
	margin-bottom: 5px;
	color: black;
	font-family: helvetica; 
}